#container {
  text-align: center;
  border: 1px solid black;
  width: 400px;
  height: 150px;
  padding: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

